// TODO: Scastillo - mover a archivos globales
.task-card {
    max-width: 500px;

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        margin: 0;
        font-size: 16px;
        font-weight: 600;
    }

    &__icon-container {
        display: flex;
        gap: 10px;
    }

    &__action-icon {
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }

        &--check {
            font-weight: 600;
        }

        &--edit {}

        &--delete {}
    }

    &__description {
        text-wrap: pretty;
        margin: 0;
        font-size: 14px;
        color: #747474;
    }

    &__footer {
        display: flex;
        justify-content: end;
        margin: 0px 16px 16px 16px;
    }

    &__due-date {
        margin: 0;
        font-size: 12px;
        color: #A1A3AB;
    }

    &__date-span {
        margin: 0;
        font-size: 12px;
        color: #A1A3AB;

    }


}