<mat-card class="task-card" appearance="outlined">
    <mat-card-header class="task-card__header">
        <mat-card-title class="task-card__title">{{task.name | titlecase}}</mat-card-title>
        <div class="task-card__icon-container">
            <mat-icon class="task-card__action-icon task-card__action-icon--check"
                (click)="changeStateTask(task)">{{isDone ? 'do_not_disturb_on': 'check_circle'}}</mat-icon>
            <mat-icon class="task-card__action-icon task-card__action-icon--edit">edit</mat-icon>
            <mat-icon class="task-card__action-icon task-card__action-icon--delete"
                (click)="deleteTaskById(task.id)">delete</mat-icon>
        </div>
    </mat-card-header>
    <mat-card-content class="task-card__content-description">
        <p class="task-card__description">{{task.description}}</p>
    </mat-card-content>
    <mat-card-footer class="task-card__footer">
        @if (!!task?.dueDate) {
        <p class="task-card__due-date">Date due:
            <span class="task-card__date-span">{{ (task.dueDate| date:'MMM d,y') || ''}}</span>
        </p>
        }
    </mat-card-footer>
</mat-card>